<!doctype html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Chamados</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <title>Lista de Chamados</title>
</head>
<body>
    <div class="container">
        <!-- Mostra o usuario logado na pagina  -->
        <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>

        <table border="1" class="table table-striped table-responsive-md">
            <tr>
              
                <th>Numero do Chamado</th>
                <th>Categoria</th>
                <th>Descricao</th>
                <th>Procedimento Utilizado</th>
                <th>Status</th>
                <th></th>
            </tr>

            <tr th:each="chamado : ${listChamados}">
                
                <td><span th:text="${chamado.numeroChamado}"></span></td>
                <td><span th:text="${chamado.categoria}"></span></td>
                <td><span th:text="${chamado.descricao}"></span></td>
                <td><span th:text="${chamado.procedimentoUsado}"></span></td>
                <td><span th:text="${chamado.statusChamado}"></span></td>

               
                <td>    <a th:href="@{/EditarChamado/{id}(id=${chamado.id})}"
                    class="btn btn-primary">Alterar</a></td>
            
            </tr>   

            <a href="/"><button>Voltar</button></a>
    </div>

</body>
</html>