<!doctype html>
  <html  lang="pt-br" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity5">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mostrar Procedimento</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

    <title>Lista de Procedimentos</title>
  </head>

  <body>
    <div class="container">
      <strong>ID:</strong> <p><span th:text="${procedimento.id}"></span></p>
      <strong>KB:</strong><p><span th:text="${procedimento.id_procedimento}"></span></p>
      <strong>Nome:</strong><p><span th:text="${procedimento.nome}"></span></p>
      <strong>Categoria</strong>  <p><span th:text="${procedimento.categoria}"></span></p>
      <p>
        <strong>Texto:</strong>
       
        <div>
            <p th:utext="${procedimento.texto}"></p>
        </div>
        <a href="/ListaProcedimentos"><button>Voltar</button></a>
      </p>
    </div>
  </body>
</html>
