<!doctype html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Chamado</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../templates/css/style.CSS" type="text/css">
        <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <title>Novo Chamado</title>
</head>
<script>
    
</script>
<body>


    <form th:object="${chamado}" th:action="@{/addChamado}" method="post">
     
            <label for="categoria"> Categoria </label>
            <input type="text" name="categoria" id="categoria">
            <p> </p>
            <label for="procedimentoUsado"> Procedimento Usado </label>

            <select name="procedimentoUsado" id="procedimentoUsado">

                <option th:each="procedimento :${ListaID_Procedimentos}"
                    th:text="${procedimento.id_procedimento}+'  '+${procedimento.nome}"></option>
            </select>
        <p> </p>
        <label for="descricao"> Descrição do Chamado </label>
        <input type="text" name="descricao" id="descricao">
        <p> </p>
        <p>
            <label for="procedimentosFeito"> Procedimento Feitos </label>
            <textarea id="procedimentosFeito" name="procedimentosFeito" rows="4"
                cols="50">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.</textarea>
                <p> </p>
            <label for="statusChamado"> Status do Chamado </label>
            <input type="radio" id="statusChamado" name="statusChamado" value="Resolvido"> Resolvido
            <input type="radio" id="statusChamado" name="statusChamado" value="Validacao"> Em Validação
            <p> </p>
            <input type="submit" value="Submit">
            <input type="reset" value="Limpar Campos">

    </form>
    <p> </p>
    <a href="/"><button>Voltar</button></a>
</body>

</html>